@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.header{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    min-height: 10vh;
    position: relative;
}
.logo{
    text-decoration: none;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    width: 80px;
}
.nav, .socials, .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: black;
}
.nav li a::after{
    display:block;
    content: '';
    border-bottom: solid 3px red;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.nav li a:hover::after{
    transform: scaleX(1);
}
.nav-dropdown li a::after{
    display:block;
    content: '';
    border-bottom: solid 3px red;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.nav-dropdown li a:hover::after{
    transform: scaleX(1);
}
.btn{
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    background-color: #d92038;
    color: #ffffff;
    transition: 0.4s ease all;
}
.btn a{
    text-decoration: none;
    color: black;
}
.socials{
    justify-content: space-evenly;
}
.social{
    cursor: pointer;
}
.social:hover{
    transition: 0.4s all;
}
.fb:hover{
    color: #3b5998;
}
.ig:hover{
    color: #3f729b;
}
.li:hover{
    color: #0072b1;
}
.tw:hover{
    color: #1DA1F2;
}
.toggle{
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   padding: 1.5rem 1rem;
   display: none;
}
.nav-dropdown{
    display: none;
}

.banner{
    background-image: url('law.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align:center;
    color:#ffffff;
    font-family:'Roboto';
    font-weight:300;
    font-size:32px;
    padding-top:40vh;
    overflow:hidden;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
}
.banner div{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}
.div1{
    animation: showup 7s infinite;
}
.div2{
    width:0;
    animation: reveal 7s infinite;
}
.div2 span{
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:555px;}
    80% {opacity:1;}
    100% {opacity:0;width:555px;}
}

.best-practices{
    text-align: center;
    min-height: 50vh;
    background: #03071e;
    color: white;
    padding: 1rem;
}
.best{
    font-family: 'Anton', sans-serif;
}
.practices{
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-left: auto;
    margin-right: auto;
    font-family: 'Anton', sans-serif;
}
.business-corporate{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.business-corporate div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.business-corporate div h2{
    font-weight: bold;
    letter-spacing: 2px;
}
.business-corporate p{
    text-align: justify;
    font-size: 1.2rem;
    color: #e5e5e5;
    letter-spacing: 2px;
}
/* ///////////////////////// Services /////////////////////////// */
.card-main{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.card-main h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
}
.card-list{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}
.card{
    padding: 2rem;
    cursor: pointer;
}
.card img{
    width: 150px;
}
.card:hover{
    transition: 0.4s ease;
    transform: scale(1.1);
}
/* ///////////////////////// Services /////////////////////////// */
/* ///////////////////////// Form /////////////////////////// */
.form{
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    z-index: 100;
}
.formClosed{
    text-align: end;
}
.form.activeForm{
    display: initial;
}
.formTimes{
    cursor: pointer;
}
.formTimes:hover{
    color: red;
    transform: scale(1.1);
    transition: 0.2s ease;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #ec5656;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aa4d4d;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
/* ///////////////////////// Form /////////////////////////// */
/* ///////////////////////// Slider /////////////////////////// */
.slideTag{
    text-decoration: none;
    color: black;
}
.main-slide{
    min-height: 30vh;
    padding: 4rem;
    margin: auto;
    overflow: hidden;
}
.main-slide h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.slide {
  transition: 0.3s;
  width: 99%;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}
.slide:hover{
    color: rgb(82, 82, 185);
}
.slide img{
    width: 100%;
    height: 300px;
}
.slide-container {
  padding: 2px 16px;
}
.slider{
    padding: 1rem;
}
.newsLoader{
    text-align: center;
}
.slick-prev {
  left: 3% !important;
}
.slick-next {
  right: 3% !important;
}
.slick-next, .slick-prev{
    z-index: 1;
    background: gray;
    border-radius: 100px;
}
/* ///////////////////////// Slider /////////////////////////// */
/* ///////////////////////// Footer /////////////////////////// */

/* ///////////////////////// Footer /////////////////////////// */
@media screen and (max-width: 1024px) {
    .logo{
        grid-column: 2/3;
    }
    .practices{
        min-width: 0;
        overflow: hidden;
    }
    .nav, .btn, .socials{
        display: none;
    }
    .toggle{
        display: initial;
    }
    .header{
        position: relative;
    }
    .nav-dropdown{
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 100;
        background: #ffffff;
        top: 99%;
        left: -100%;
        transition: 0.4s all ease;
        display: initial;
    }
    .nav-dropdown.active{
        left: 0;
        transition: 0.4s all ease;
    }
    .nav-dropdown ul{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 3rem;
    }
    .nav-dropdown ul li{
        list-style: none;
    }
    .nav-dropdown ul li a{
        text-decoration: none;
        font-size: 2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        color: black;
    }
    .links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5rem;
    }
    .btn-dropdown{
        width: 90%;
        padding: 10px 15px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-radius: 50px;
        font-size: 1.3rem;
    }
    .btn-dropdown:hover{
        background-color: #d92038;
        color: #ffffff;
        transition: 0.4s ease all;
    }
    .btn-dropdown a{
        text-decoration: none;
        color: black;
    }
    .main-slide{
        padding: 1rem;
    }
    .slide {
        width: 100%;
    }
    .form{
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    .practices{
        width: 100%;
        overflow: auto;
    }
    .business-corporate p{
        font-size: .7rem;
    }
    .business-corporate{
        padding: 0;
    }
    .div1 h1{
        font-size: 1.8rem;
    }
    .div2 span{
        font-size: 1rem;
    }
    .card-list{
        flex-direction: column;
    }
    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:355px;}
        80% {opacity:1;}
        100% {opacity:0;width:355px;}
    }
    .nav-dropdown ul li a{
        font-size: 1.3rem;
    }
    .links{
        font-size: 1rem;
    }
    .main-slide{
        padding: 1rem;
    }
    .slide {
        width: 100%;
    }
    .slider{
        padding: 0;
    }
    .slick-prev {
        left: 5% !important;
    }
    .slick-next {
        right: 5% !important;
    }
    .form{
        width: 100%;
        height: 100%;
    }
    .jotForm{
        max-height: 100vh;
        overflow: auto;
    }
    .logo img{
        width: 60px;
    }
}